@import url('variables.css');

@media screen and (min-width: 320px) {
    
}

@media screen and (min-width: 1440px) {
    button {
        position: relative;
        width: 380px;
        height: 71px;
        border-radius: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: var(--semibold-font-weight);
        font-size: var(--t1-raleway-text-size);
        padding: 25px 24px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        
        svg {
            position: absolute;
        }

        #line {
            top: 0;
            left: 308px;
        }

        #arrow {
            top: 38px;
            left: 347px;
        }
    }

    .white {
        border: none;
        outline: 1px solid var(--main-white);
        background: var(--main-white);
        color: var(--accent-color);
    }

    .transparent {
        border: none;
        outline: 1px solid var(--main-white);
        background: transparent;
        color: var(--main-white);
    }
}


 /* position: absolute;
 width: 71px;
 height: 0px;
 left: 608px;
 top: 586px;

 border: 2px solid #0B3461;
 transform: rotate(90deg); */


 /* Записаться на консультацию */

 /* position: absolute;
 width: 256px;
 height: 22px;
 left: 324px;
 top: 611px;

 font-weight: 600;
 font-size: 18px;
 line-height: 122.8%; */
 /* or 22px */
/* 
 color: #07305D; */



 /* Vector */

 /* position: absolute;
 width: 20px;
 height: 20px;
 left: 647px;
 top: 624px; */

/* border: 2px solid #0B3461; */
