@import url('variables.css');

@media screen and (min-width: 1440px) {
    .popup {
        width: 33%;
        height: 100vh;
        background-color: var(--tertiary-color);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .closeBtn {
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        z-index: 4;
        top: 20px;
        left: 80%;
    }

    #feedback {
        margin: 108px 0 0 0;
    }

    #feedbackSent {
        margin: 199px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #feedbackSent > h2 {
        width: 45%;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        line-height: 79px;
        text-align: center;
    }

    #feedbackSent > h2 + h2 {
        width: 70%;
        font-size: 40px;
    }

    #feedbackSent > img {
        position: absolute;
        top: 90%;
        left: 60%;
    }

    #popupHeader {
        font-family: 'Raleway', sans-serif;
        margin: 0 0 66px 90px;
        font-size: 50px;
        line-height: 75px;
        width: 490px;
    }

    #formWrapper {
        margin-left: 75px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 65px;
        width: 90%;
        margin-bottom: 89px;
    }

    input[type=text], input[type=tel] {
        height: 37px;
        background: transparent;
        outline: none;
        border: none;
        color: #FFFFFFCC;
        border-bottom: 1px solid #FFFFFFCC;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    input[type=checkbox] {
        display: none;
    }

    label {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 23px;
        line-height: 20px;
    }

    #customCheckbox {
        display: inline-block;
        width: 35px;
        height: 30px;
        border: 1px solid var(--main-white);
        position: relative;

        svg {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    input:checked + #customCheckbox > svg {
        display: block;
    }

    label > span {
        user-select: none;
    }

    #warning {
        display: inline-block;
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(203, 51, 51)
    }
}

