@import url('variables.css');

@media screen and (min-width: 320px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        width: 96px;
        height: 20px;
    }

    #addInfo {
        margin: 0 17px 0 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (min-width: 1024px) {
    #logo {
        width: 170px;
        height: 34px;
    }

    a {
        font-family: "Montserrat", sans-serif;
        font-weight: var(--regular-font-weight);
        font-size: var(--t3-text-size);
        color: var(--main-white);
        text-decoration: none;
        line-height: var(--main-lineheight);
    }

    #links {
        display: flex;
        gap: 30px;
    }

    #addInfo {
        margin: 0;
        gap: 14px;
    }

    #number {
        font-family: "Montserrat", sans-serif;
        font-weight: var(--semibold-font-weight);
        font-size: var(--t2-montserrat-text-size);
        line-height: var(--main-lineheight);
    }
}